<div class="card-" [ngClass]="{'card':true,
'bg-success' : post.loveIts >0,'bg-danger' : post.loveIts <0}">
  <div class="card-body">
    <div class="row">
      <h5 class="col-md-6 card-title text-left">{{post.title}}</h5>
      <h5 class="col-md-6 text-right">{{post.created_at | date: 'short'}}</h5>
    </div>
    <p class="card-text">{{post.content}}</p>
    <a (click)="loveIt()" class="btn btn-success">love it!</a>
    <a (click)="dislikIt()" class="btn btn-danger">Don't love it!</a>
  </div>
</div>
